.card-center {
    box-shadow: rgba(148, 0, 211, 0.4) 5px 5px, rgba(148, 0, 211, 0.3) 10px 10px, rgba(148, 0, 211, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    display: flex;
    flex-direction: column;
    padding: 1px 32px 24px;
    min-width: 80vh;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    border: 1px solid;
    position: 'relative';

    }

.card-center-list {
    box-shadow: rgba(148, 0, 211, 0.4) 5px 5px, rgba(148, 0, 211, 0.3) 10px 10px, rgba(148, 0, 211, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    display: flex;
    flex-direction: column;
    padding: 1px 32px 24px;
    min-width: 80vh;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #a73535;
    border: 1px solid;
    position: 'relative';
   
    }
  