/* cardStyle.css */
.game-card-style {
    box-shadow: rgba(148, 0, 211, 0.4) 5px 5px, rgba(148, 0, 211, 0.3) 10px 10px, rgba(148, 0, 211, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    display: flex;
    background: rgba(255, 255, 255, 1);
    flex-direction: column;
    max-width: 30vh;
    min-width: 30vh;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    border: 1px solid;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 10px;
    transition: transform 0.2s ease-in-out, box-shadow 0.5s ease-in-out;
  }

.game-card-style:hover {
    box-shadow: rgba(148, 0, 211, 0.4) 5px 5px, rgba(148, 0, 211, 0.3) 10px 10px, rgba(148, 0, 211, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    transform: scale(1.025);
    border: 1px solid;
    cursor: pointer;
  }
  